.suma{
    background-color: aqua;
    color: black;
}

.resta{
    background-color: cornflowerblue;
    color: crimson;
}

.multiplicacion{
    background-color:  aqua;
    color: crimson;
}


.division{


    background-color:  aqua;
    color: crimson;
}


.resto{
    background-color: cornflowerblue;
    color: crimson;
}
 